.mui-input-group:first-child {
  margin-top: 1.06667rem; }

.mui-input-group .code-box {
  position: relative; }

.mui-input-group .code-btn {
  position: absolute;
  top: 0.10667rem;
  right: 0.13333rem;
  color: #FFB348;
  border: none; }
  .mui-input-group .code-btn {
    font-size: 16px; }
  [data-dpr="2"] .mui-input-group .code-btn {
    font-size: 32px; }
  [data-dpr="3"] .mui-input-group .code-btn {
    font-size: 48px; }

.mui-input-group:before {
  height: 0; }

.mui-input-group:after {
  height: 0; }

.mui-input-row .input {
  width: 7.06667rem;
  height: 1.06667rem;
  padding-top: 0.13333rem;
  padding-bottom: 0.05333rem;
  padding-left: 0.16rem;
  border-bottom: 1px solid #FFB348; }
  .mui-input-row .input {
    font-size: 16px; }
  [data-dpr="2"] .mui-input-row .input {
    font-size: 32px; }
  [data-dpr="3"] .mui-input-row .input {
    font-size: 48px; }

.btn-box {
  margin-top: 1.06667rem;
  text-align: center; }

.mui-input-row {
  width: 8.16rem;
  margin: 0 auto;
  margin-bottom: 0.64rem; }

.mui-input-row .img-size {
  width: 0.48rem;
  height: 0.53333rem;
  margin-right: 0.42667rem;
  vertical-align: middle; }

.mui-input-group .mui-input-row:after {
  height: 0; }

.login {
  width: 8.29333rem;
  height: 1.17333rem;
  background: #ffb348;
  color: #fff;
  -webkit-border-radius: 0.66667rem;
  -moz-border-radius: 0.66667rem;
  border-radius: 0.66667rem;
  border: none; }
  .login {
    font-size: 18px; }
  [data-dpr="2"] .login {
    font-size: 36px; }
  [data-dpr="3"] .login {
    font-size: 54px; }

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 0.85333rem;
  text-align: center;
  color: #666; }
  .footer {
    font-size: 13px; }
  [data-dpr="2"] .footer {
    font-size: 26px; }
  [data-dpr="3"] .footer {
    font-size: 39px; }
