@charset "UTF-8";
#map {
  width: 100%;
  height: 90%;
  overflow: hidden;
  margin: 0;
  font-family: "微软雅黑";
  position: fixed;
  top: 10%;
  bottom: 0px;
  line-height: 2.66667rem;
  text-align: center;
  background: #FFFFFF; }

.mui-bar .mui-icon img {
  width: 0.74667rem;
  height: 0.74667rem; }
