.mui-content {
  /*background: red;*/
  height: 100%; }

.mui-content > .mui-table-view:first-child {
  margin-top: 0; }

.mui-input-group .input {
  width: 50%;
  padding-left: 0; }

.mui-input-row {
  width: 8.29333rem;
  margin: 0 auto;
  margin-bottom: 0.64rem; }

.mui-input-row .img-size {
  width: 0.48rem;
  height: 0.53333rem;
  vertical-align: middle;
  margin-right: 0.42667rem; }

.mui-input-row label ~ input {
  float: left; }

.mui-input-group:after {
  height: 0; }

.mui-input-group .mui-input-row:after {
  position: absolute;
  right: 0.4rem;
  bottom: 0;
  left: 0.8rem;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #ddd; }

.code-box {
  position: relative; }

.code-box .code-btn {
  position: absolute;
  top: 0.13333rem;
  right: 0.26667rem;
  color: #FFB348;
  border: none; }
  .code-box .code-btn {
    font-size: 16px; }
  [data-dpr="2"] .code-box .code-btn {
    font-size: 32px; }
  [data-dpr="3"] .code-box .code-btn {
    font-size: 48px; }

.arrows {
  color: #999; }
  .arrows {
    font-size: 15px; }
  [data-dpr="2"] .arrows {
    font-size: 30px; }
  [data-dpr="3"] .arrows {
    font-size: 45px; }

.btn-box {
  margin-top: 0.74667rem;
  text-align: center; }

.notarize {
  width: 8.29333rem;
  height: 1.17333rem;
  background: #ffb348;
  color: #fff;
  -webkit-border-radius: 0.66667rem;
  -moz-border-radius: 0.66667rem;
  border-radius: 0.66667rem;
  border: none; }
  .notarize {
    font-size: 18px; }
  [data-dpr="2"] .notarize {
    font-size: 36px; }
  [data-dpr="3"] .notarize {
    font-size: 54px; }
