@import "mixin";
#map{
    width:100%;
    height:90%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
    position: fixed;
    top:10%;
    bottom: 0px;
    @include px2rem(line-height,200px);
    text-align: center;
    background: #FFFFFF;
}

.mui-bar .mui-icon img{
    @include px2rem(width,56px);
    @include px2rem(height,56px);
}

